extends /layout
block content
  h1 admin

  h3.subheader Pending Users
  if unapproved_users != null
    - users = unapproved_users
    include /users/users

  h3.subheader Approved Users
  if approved_users != null
    - users = approved_users
    include /users/users

