extends layout
block content
  h1= title
  p Welcome to #{title}
  ul
    each user in users
      li= user.email
  if login == false
    a(href = "/signup") signup
    a(href = "/login") login
  else
    a(href = "/logout") log out
