extends layout
block content
  h1= title
  p Welcome to #{title}
  ul
    each link in links
      li= link.url
  if login == false
    a(href = "/signup") signup
    a(href = "/login") login
    a(href = "/link") New link
  else
    a(href = "/logout") log out
    a(href = "/link") New link