extends layout
block content
  .row
    .large-6.columns.large-centered
      form.custom(action = "/login", method = "post")
        fieldset
            legend Login
            .row
              .large-12.columns

                .form-group
                  label Email
                  input.form-control(name = "email", type = "text")
                .form-group
                  label Password
                  input.form-control(name = "password", type = "password")
                button.expand.success-darkest(type = "submit") Login
        
        p.txt-right
          span Need an account? 
          a(href = "/signup") Signup
