extends layout
block content
  .row
    .large-6.columns.large-centered
      form.custom(action = "/signup", method = "post")
        fieldset
            legend Login
            .row
              .large-12.columns

                .form-group
                  label Email
                  input.form-control(name = "email", type = "text")
                .form-group
                  label Password
                  input.form-control(name = "password", type = "password")
                button.expand.success-darkest(type = "submit") Sign up
